.postForm {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}
.postForm input {
  width: 90%;
  padding: 0.5em 1em;
  margin: 1em;
}
/* .postBtn {
  background-color: rgb(235, 159, 235);
  color: #fff;
}  */
