.postDetail {
  padding: 2em 3em;
  position: relative;
}
.postDetail p {
  padding: 0.3em 0;
}

.postDetail .thumbnail img {
  border-radius: 4px;
  padding: 5px 0;
  max-width: 800px;
  /* margin: 5px; */
}
.postDetail .thumbnail img:hover {
  box-shadow: 0 0 2px 1px #1d3742;
}

@media screen and (max-width: 768px) {
  .postDetail .thumbnail img {
    width: 100%;
  }
}
