* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}
:root {
  --main-text-size: 18px;
  --heading-font-size: 32px;
}
.homeContainer {
  padding: 0 1em;
}

.logo {
  align-self: left;
}
/*  */

.heading {
  font-size: var(--heading-font-size);
  padding: 0.8em 0;
  text-align: center;
}
img {
  width: 50%;
  height: auto;
  padding: 2em;
}
.cta {
  text-align: center;
  background: linear-gradient(80.48deg, #575a89 37.36%, #4ea585 105.52%);
  border-radius: 15px;
  color: #fff;
  border: none;
  padding: 0.5em 0;
  width: 100%;
  font-size: 18px;
  margin-top: 2em;
}
.cta:hover {
  transform: scaleY(1.2);
}

@media (min-width: 600px) {
  img {
    width: 50%;
    height: auto;
    padding: 2em;
  }
  .homeContainer {
    padding: 2em;
  }
  .navWrapper {
    padding: 0.8em 2em;
  }
  .navWrapper a {
    font-size: 18px;
    padding: 0 20px;
  }
  .headerContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 2em;
    justify-content: space-around;
    align-items: center;
  }
  .intro {
    max-width: 40%;
    width: 600px;
    text-align: center;
  }
  .heading {
    /* text-align: left; */
    padding-bottom: 0.2em;
  }
  .homeContainer {
    padding: 0;
  }
  .containerTwo {
    background-color: #f4f3ff;
    padding: 8em 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }
  .containerP {
    word-wrap: wrap;
    padding: 2em;
    max-width: 40%;
    width: 600px;
    text-align: center;
  }
}

.fullWidth {
  width: 100%;
}
