* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 0 2em;
}
.avi {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
}
.avi button {
  width: 20%;
  background-color: #535070;
  font-weight: bold;
  font-size: 18px;
}
.avi button:hover {
  background-color: rgb(150, 14, 14);
}
.headerAvi {
  width: 40px;
  height: 40px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-left: 1em;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 auto;
  margin-bottom: 20px;
}
button {
  width: 100%;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}
button:hover {
  background-color: rgb(63, 63, 61);
}
.avatarContainer {
  padding: 2em 0;
  text-align: center;
}
.avatarContainer p {
  font-size: 24px;
}
.editBtn {
  padding: 8px 0;
  background-color: #535070;
  margin-bottom: 2em;
}
.createBtn {
  padding: 15px 0;
  background-color: #57b793;
  margin-bottom: 15px;
}
.viewBtn {
  padding: 15px 0;
  background-color: #577db7;
  margin-bottom: 15px;
}
.delAcct {
  padding: 20px 0 10px 0;
  text-align: right;
}
.bio {
  color: #969595;
  padding: 1em 0 1em 0.5em;
  font-size: 18px;
}
@media (min-width: 600px) {
  .profile {
    margin: 0;
    padding: 2em;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  .actions {
    display: flex;
    margin-left: 30%;
    padding: 1px 16px;
    justify-content: space-evenly;
  }
  .actions button {
    width: 35%;
  }
}
