.linksWrapper {
  padding: 1em 3em;
}
.linksWrapper * {
  padding: 1em 0;
}
.contactWrapper {
  padding: 1em 3em;
  text-align: center;
  box-sizing: border-box;
  margin: 5em 0;
}
.contactWrapper h3 {
  padding: 1em 0;
  font-weight: bold;
  font-size: 4em;
}
.contactWrapper div {
  border: 1px solid gray;
  padding: 1.5em;
  margin: 1em;
  width: 200px;
  display: inline-block;
}
.contactWrapper .contactIcon {
  color: var(--primary-color);
  font-size: 20px;
}
.contactWrapper p {
  padding: 0.3em 0;
}
.faqWrapper {
  padding: 1em 3em;
}
.faqWrapper div {
  padding: 1.3em 0;
}
.faqWrapper div p {
  padding-top: 1em;
}
