* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navWrapper {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px #ccc;
  z-index: 3;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: flex-end;

  /* margin-bottom: 30%; */
}
.navWrapper .logo {
  flex-grow: 1;
  color: #6c63ff;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
}
.navWrapper button {
  color: #000;
  font-size: 16px;
  padding: 0 8px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;

  background-color: transparent;
}
/* .navWrapper a:hover {
  text-decoration: underline;
} */

.navWrapper button:hover {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  .navWrapper {
    padding: 1rem 0;
  }
}
